.DS_Store
git-sdk-64/

# Ignore local WezTerm config files
wezterm/local_launch.lua

# Machine-specific ZSH files
.zcompdump
.antidote
.zsh_history
.zsh_plugins.zsh
.zcompcache
.zsh_history.*

# Generated completion files
_uv_completion
_uvx_completion
